<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mq.mqserver.mapper.MetaMapper">
    <update id="createExchangeTable">
        create table if not exists exchange (
            name varchar(50) primary key,
            type int,
            durable boolean,
            autoDelete boolean,
            argument varchar(1024)
        );
    </update>

    <update id="createQueueTable">
        create table if not exists queue (
            name varchar(50) primary key,
            durable boolean,
            exclusive boolean,
            autoDelete boolean,
            argument varchar(1024)
        );
    </update>

    <update id="createBindingTable">
        create table if not exists binding (
            exchangeName varchar(50),
            queueName varchar(50),
            bindingKey varchar(256)
        );
    </update>

    <insert id="insertExchange" parameterType="com.example.mq.mqserver.core.Exchange">
        insert into exchange values(#{name},#{type},#{durable},#{autoDelete},#{argument});
    </insert>

    <delete id="deleteExchange" parameterType="java.lang.String">
        delete from exchange where name=#{exchangeName};
    </delete>

    <select id="selectAllExchange" resultType="com.example.mq.mqserver.core.Exchange">
        select * from exchange;
    </select>

    <insert id="insertQueue" parameterType="com.example.mq.mqserver.core.MSGQueue">
        insert into queue values(#{name},#{durable},#{exclusive},#{autoDelete},#{argument});
    </insert>

    <delete id="deleteQueue" parameterType="java.lang.String">
        delete from queue where name=#{queueName};
    </delete>

    <select id="selectAllMSGQueue" resultType="com.example.mq.mqserver.core.MSGQueue">
        select * from queue;
    </select>

    <insert id="insertBinding" parameterType="com.example.mq.mqserver.core.Binding">
        insert into binding values(#{exchangeName},#{queueName},#{bindingKey});
    </insert>

    <delete id="deleteBinding" parameterType="com.example.mq.mqserver.core.Binding">
        delete from binding
        where exchangeName=#{exchangeName}
        and queueName=#{queueName} and bindingKey=#{bindingKey};
    </delete>

    <select id="selectAllBinding" resultType="com.example.mq.mqserver.core.Binding">
        select * from binding;
    </select>

</mapper>